.in-game {
	display: flex;
	opacity: 0;

	.title {
		margin: 2rem auto 0;
	}

	&.-show {
		opacity: 1;
		transition: opacity 1s 0.5s;
	}
	&.-hide {
		display: none;
	}

	&.buttons {
		border: solid red 1px;
	}

	&.game {
		flex-direction: column;
		gap: 4rem;
	}
}

.board {
	display: grid;
	margin: 0 auto;
	width: 500px;
	height: 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: solid black 5px;

	> .square {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}

	> .square:hover {
		background-color: rgb(216, 216, 216);
	}

	> .square:nth-child(3n) {
		border-left: solid black 5px;
	}

	> .square:nth-child(3n + 1) {
		border-right: solid black 5px;
	}

	> .square:nth-child(-n + 3) {
		border-bottom: solid black 5px;
	}

	> .square:nth-child(n + 7) {
		border-top: solid black 5px;
	}
}

.turn {
	display: flex;
	justify-content: center;
	gap: 4rem;

	p {
		border: solid black 1px;
		border-radius: 5px;
		padding: 1rem 1.6rem;
	}
}

@media screen and (max-width: 600px) {
	.board {
		width: 300px;
		height: 300px;
	}
}
