.in-game {
	display: flex;
	opacity: 0;

	.title {
		margin: 0 auto;
	}

	&.-show {
		opacity: 1;
		transition: opacity 1s 0.5s;
	}
	&.-hide {
		display: none;
	}

	&.buttons {
		width: 100%;
		padding: 0 1rem;
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		position: relative;
	}

	&.game {
		flex-direction: column;
		gap: 4rem;
	}

	&.hide-transition {
		opacity: 0;
		transition: opacity 1s;
	}
}

.board {
	display: grid;
	margin: 0 auto;
	width: 500px;
	height: 500px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	border: solid black 5px;
	border-radius: 5px;

	> .square {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		user-select: none;
	}

	> .square:hover {
		background-color: rgb(216, 216, 216);
	}

	> .square:nth-child(3n) {
		border-left: solid black 5px;
	}

	> .square:nth-child(3n + 1) {
		border-right: solid black 5px;
	}

	> .square:nth-child(-n + 3) {
		border-bottom: solid black 5px;
	}

	> .square:nth-child(n + 7) {
		border-top: solid black 5px;
	}
}

.turn {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4rem;
}

.game-option {
	margin: 0 auto;
	display: flex;
	gap: 0.5rem;
}

.turn-indicator {
	border: solid black 1px;
	border-radius: 5px;
	padding: 1rem 0;
	width: 23rem;
	transform: scale(1);
	transition: transform 0.4s;
	display: flex;
	justify-content: center;

	&.present-turn {
		transform: scale(1.2);
	}
}

.tie {
	width: 10rem;
	border: solid black 3px;
}

.history-list {
	position: absolute;
	bottom: 125%;
	right: 10px;
	height: 270px;
	width: 230px;
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: default;
	user-select: none;

	> h1 {
		border-bottom: solid 1px rgba(211, 211, 211, 0.8);
	}
	> ol {
		margin-top: 0.5rem;
		list-style-position: inside;
	}
}

.highlight {
	background-color: black;
	transition: background-color 0.5s;
}

@media screen and (max-width: 600px) {
	.board {
		width: 300px;
		height: 300px;
	}

	.game-option {
		margin-left: auto;
	}

	.turn {
		flex-direction: column;
		align-items: center;
	}

	.in-game.buttons {
		flex-direction: column;
		align-items: center;

		#return {
			order: 1;
		}
	}
}
