#main-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 5rem;
	animation: 1.3s ease-out 1 fadein;
	position: relative;
}

.top {
	height: 6rem;
	background-color: black;
	transition: height 1s;

	&.hide-transition {
		height: 0;
		transition: height 1s;
	}

	&.-hide {
		display: none;
	}
}

.bottom {
	height: 6rem;
	background-color: black;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	padding: 0.5rem 1rem;

	&:hover {
		opacity: 0.9;
	}
}

.modal-winner {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	height: inherit;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
}

.-hide {
	display: none;
}
