.start-game {
	opacity: 1;
	text-align: center;

	&.hide-transition {
		opacity: 0;
		transition: opacity 1s;
	}

	&.-hide {
		display: none;
	}
}

#start-game {
	background-color: rgb(90, 216, 90);
}

.input-name-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5rem;
	margin-top: 1rem;

	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 3rem;
		border: solid black 2px;
		border-radius: 5px;
		padding: 1rem;
	}
}
