html {
	font-size: 62.5%;
}

body {
	font-family: "Dunkin Lyons", sans-serif;
}

button {
	font-size: 2.4rem;
}

#start-game {
	font-size: 3rem;
}

.title {
	font-size: 8rem;
}

.board {
	font-size: 10rem;
}

.turn {
	font-size: 2.8rem;
}

.player {
	font-size: 3.2rem;
}

.input-name {
	font-size: 1.6rem;
}

.history-list {
	color: white;
	font-size: 2rem;

	> h1 {
		font-weight: 400;
		font-size: 3rem;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 5.4rem;
	}
	.board {
		font-size: 7rem;
	}
}
