html {
	font-size: 62.5%;
}

body {
	font-family: "Dunkin Lyons", sans-serif;
}

#start-game {
	font-size: 3rem;
}

.title {
	font-size: 8rem;
}

.board {
	font-size: 10rem;
}

.turn {
	font-size: 2.8rem;
}

.player {
	font-size: 2.4rem;
}

@media screen and (max-width: 600px) {
	.title {
		font-size: 5.4rem;
	}
	.board {
		font-size: 7rem;
	}
}
