* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  line-height: 1.15;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dunkin Lyons", sans-serif;
}

button {
  font-size: 2.4rem;
}

#start-game {
  font-size: 3rem;
}

.title {
  font-size: 8rem;
}

.board {
  font-size: 10rem;
}

.turn {
  font-size: 2.8rem;
}

.player {
  font-size: 3.2rem;
}

.input-name {
  font-size: 1.6rem;
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 5.4rem;
  }

  .board {
    font-size: 7rem;
  }
}
#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.top {
  height: 6rem;
  background-color: black;
  transition: height 1s;
}
.top.hide-transition {
  height: 0;
  transition: height 1s;
}
.top.-hide {
  display: none;
}

.bottom {
  height: 6rem;
  background-color: black;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
button:hover {
  opacity: 0.9;
}

.start-game {
  opacity: 1;
  text-align: center;
}
.start-game.hide-transition {
  opacity: 0;
  transition: opacity 1s;
}
.start-game.-hide {
  display: none;
}

#start-game {
  background-color: #5ad85a;
}

.input-name-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 1rem;
}
.input-name-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border: solid black 2px;
  border-radius: 5px;
  padding: 1rem;
}

.in-game {
  display: flex;
  opacity: 0;
}
.in-game .title {
  margin: 0 auto;
}
.in-game.-show {
  opacity: 1;
  transition: opacity 1s 0.5s;
}
.in-game.-hide {
  display: none;
}
.in-game.buttons {
  border: solid red 1px;
  width: 100%;
  padding: 0 1rem;
}
.in-game.game {
  flex-direction: column;
  gap: 4rem;
}
.in-game.hide-transition {
  opacity: 0;
  transition: opacity 1s;
}

.board {
  display: grid;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: solid black 5px;
}
.board > .square {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.board > .square:hover {
  background-color: #d8d8d8;
}
.board > .square:nth-child(3n) {
  border-left: solid black 5px;
}
.board > .square:nth-child(3n+1) {
  border-right: solid black 5px;
}
.board > .square:nth-child(-n+3) {
  border-bottom: solid black 5px;
}
.board > .square:nth-child(n+7) {
  border-top: solid black 5px;
}

.turn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.game-option {
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
  border: solid yellow 1px;
}

.turn-indicator {
  border: solid black 1px;
  border-radius: 5px;
  padding: 1rem 1.6rem;
  transform: scale(1);
  transition: transform 1s;
}
.turn-indicator.present-turn {
  transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  .board {
    width: 300px;
    height: 300px;
  }

  .game-option {
    margin-left: auto;
  }
}
.input-name {
  padding: 0.2rem 0.5rem;
}

/*# sourceMappingURL=style.css.map */
